/*----------------------*\
    $LAYAOUT
/*----------------------*/

section {
    @include max-width(800px);
    background: $color-light-grey;
    padding: $padding;
}

.max-width--huge {
    @include max-width(1200px);
}

header {
    background: $color-brand;
}

